# FILE TEMPLATED BY Ansible scenarios Provisioner
#   https://github.com/ansible/scenarios/
#
BOOTPROTO=none
DEVICE=eth1
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
PREFIX=16
IPADDR={{ hostvars[inventory_hostname]['private_ip2'] }}
DEFROUTE=no
