
{% for vm in node7_node_facts.instances %}
{% if student_user + item == vm.tags.Student %}
{{ vm.private_ip_address }} {{ vm.tags.short_name }}.example.com {{ vm.tags.short_name }}
{% endif %}
{% endfor %}

{% for vm in node8_node_facts.instances %}
{% if student_user + item == vm.tags.Student %}
{{ vm.private_ip_address }} {{vm.tags.short_name}}.example.com {{ vm.tags.short_name }}
{% endif %}
{% endfor %}

{% for vm in node9_node_facts.instances %}
{% if student_user + item == vm.tags.Student %}
{{ vm.private_ip_address }} {{vm.tags.short_name}}.example.com {{ vm.tags.short_name }}
{% endif %}
{% endfor %}
